name: Deploy to staging
on:
  push:
    branches: [ main ]
      
jobs:
  redeploy_everything:
    runs-on: ubuntu-latest
    name: Deploying everything on staging cluster
    steps:
      - run:  |
          echo "${{secrets.DEV_SECRET_KEY}}" &> ~/ssh_key
          mkdir -p /home/runner/.ssh
          ls /home/runner/.ssh
          touch /home/runner/.ssh/known_hosts
          echo "{{secrets.KNOWN_HOST_SECRET_KEY}}" &> /home/runner/.ssh/known_hosts
          ssh -i ~/ssh_key ubuntu@51.20.143.182
          cd BMS-Deployment/ && git pull
          pnpm install
          pnpm run build
          pm2 restart fe-server
          pm2 restart http-server
          pm2 restart ws-server
